/**
 * Forked from https://github.com/RedHatProductSecurity/cvss-v4-calculator
 * @author Fabio Massacci (University of Trento and Vrije Universiteit Amsterdam) and Giorgio Di Tizio (University of Trento)
 */

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>CVSS v4.0 calculator</title>
        <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js"></script>
        <script src="cvss_config.js?v=2"></script>
        <script src="cvss_details.js?v=1"></script>
        <script src="cvss_lookup.js?v=5"></script>
        <script src="max_composed.js"></script>
        <script src="max_hamming.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-icons.min.css">
        <link rel="stylesheet" href="styles.css?v=6">
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div id="app" class="container">
            <div id="header">
                <h4>CVSS v4.0 calculator – DRAFT</h4>
                <h5> Look and feel from <A HREF="https://redhatproductsecurity.github.io/cvss-v4-calculator">Redhat</A>. Source code <A HREF="https://github.com/assuremoss/assuremoss.github.io/tree/main/CVSSv4Calculator">here</A> </h5>
                Current Vector,Score:
                <mark class="tooltip c-hand" data-tooltip="Click vector to copy to clipboard" @click="copyVectorCurrent">
                    {{ vector }},{{ baseScore }}
                </mark><button class="btn btn-sm ml-2" @click="onReset()">Reset</button>
                <br>
                Highest Severity Vector,Score: 
                <mark class="tooltip c-hand" data-tooltip="Click vector to copy to clipboard" @click="copyVectorMax">
                    CVSS:4.0/{{ cvssMaxVector }},{{ MaxBaseScore }}
                </mark><br>
                Macro vector: {{ macroVector }}<br>
                <h5>
                    Base Macro vector score scaling to use
                    </h5>
                    <h6>
                        <select id="dataset_select" @change="onChangeDataSelect()">
                            <option value="linear">Linear Rescaling</option>
                            <option value="linear_clust">Linear Clustering</option>
                            <option value="base">Qualitative Splits with Binned Ranking: "Original" Elo scores</option>
                            <option value="adjusted" selected>Adjusted Qualitation Bin Ranking: reduced outliers between EQ3 and EQ4 (XSS fix)</option>
                        </select>
                    </h6>
                <h5>
                Macrovector Adjustment Mode
                <h6>
                    <select id="mode_select" @change="onChangeModeSelect()">
                        <option value="max"> <b>Mode 0</b>: Raw Elo Score of Macro Vector</option>
                        <option value="minimal" selected><b>Mode 2</b>: Minimal Change (0.1 * Hamming Distance)</option>
                        <option value="mean"><b>Mode 3</b>: Mean Progress Towards Lower Macro Vector(s) (Mean Proportional Hamming Distance)</option>
                        <option value="weighted"><b>Mode 5</b>: Variable Change (Weighted Hamming Distance)</option>
                        <option value="mean_variable"><b>Mode 6</b>: Variable Mean Progress Towards Lower Macro Vector(s) (Mean Proportional Weighted Hamming Distance)</option>
                    </select><br>
                    <!--
                <input type = "checkbox" id="max_checkbox" @click="onClickMaxValue()"> <b>Mode 0</b>: Raw Elo Score of Macro Vector<br>
	            <input type = "checkbox" id="minimal_checkbox" @click="onClickMinimal()" checked=true> <b>Mode 2</b>: Minimal Change (0.1 * Hamming Distance)<br>
                <input type = "checkbox" id="mean_checkbox" @click="onClickMean()"> <b>Mode 3</b>: Mean Progress Towards Lower Macro Vector(s) (Mean Proportional Hamming Distance)<br>
                <input type = "checkbox" id="weighted_checkbox" @click="onClickWeighted()"> <b>Mode 5</b>: Variable Change (Weighted Hamming Distance)<br>
                <input type = "checkbox" id="mean_variable_checkbox" @click="onClickMeanVariable()"> <b>Mode 6</b>: Variable Mean Progress Towards Lower Macro Vector(s) (Mean Proportional Weighted Hamming Distance)<br>
                </h6>-->
		<!-- <h6><b>Mode 4</b> forthcoming</h6> -->
                </h5>
                <h5>
                    Macrovector adjustment direction
                </h5>
                <h6>
                    Macrovectors can be adjusted from the minimal vector upwards (increasing the score) or down from the maximal vector within an equivalence class value. As an alternative they can also be adjusted from the middle out.</h6>
                    <select id="adjustment_mode_select" @change="onAdjustmentSelect()">
                        <option value="up">Up</option>
                        <option value="middle">Middle Out</option>
                        <option value="down" selected>Down</option>
                    </select> 
                <h5>
                    Capping
                <h6>The scores above are "free" to change and to go beyond the lower levels. If you want them capped tick your preferred option.
                    <select id="capping_select" @change="onCappingChange()">
                        <option value="none" selected>None</option>
                        <option value="qual">Max Change Bounded to Qualitative Score</option>
                        <option value="macro">Max Change Bounded to MacroVector</option>
                    </select>
                </h6>
		        <!-- <input type = "checkbox" id="capped_qual_checkbox" @click="onClickCappedQualitative()"> Max Change Bounded to Qualitative Score<br>
                <input type = "checkbox" id="capped_macro_checkbox" @click="onClickCappedMacro()"> Max Change Bounded to MacroVector<br>-->
                </h5>
                <h5>
                    <span class="tooltip tooltip-bottom c-hand"
                          :data-tooltip="showDetails ? 'Hide details' : 'Show details'"
                          @click="showDetails = !showDetails">
                        CVSS v4.0 Score:
                        <span :class="baseScoreClass(qualScore)">{{ baseScore }} / {{ qualScore }}</span>
                        <span v-if="!showDetails"> ⊕</span>
                        <span v-else> ⊖</span>
                    </span>
                </h5>
                <blockquote v-if="showDetails">
                    <div v-for="(index, description) in cvssMacroVectorDetailsData">
                        {{ description }}: {{ cvssMacroVectorValuesData[macroVector[index]] }}
                    </div>
                </blockquote>
            </div>

            <div class="columns" :style="{'margin-top': header_height + 10 + 'px'}">
                <div class="column col-10 col-xl-12">
                    <div class="metric-type" v-for="(metricTypeData, metricType) in cvssConfigData">
                        <h4 class="text-center">
                            {{ metricType }}
                            <span class="tooltip tooltip-left c-hand text-small" :data-tooltip="'This category is usually filled \n by the ' + metricTypeData.fill">
                                <sup>?</sup>
                            </span>
                        </h4>
                        <div class="metric-group" v-for="(metricGroupData, metricGroup) in metricTypeData.metric_groups">
                            <h5 class="text-center">{{ metricGroup }}</h5>
                            <div>

                                <div class="" v-for="(metricData, metric) in metricGroupData">

                                    <!-- Multiple ways of rendering metrics based on screen size -->
                                    <div class="columns hide-xl mb-2">
                                        <div class="col-3 text-right pr-2" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                        <div class="col-3 text-right pr-2" v-else>{{metric}}:</div>

                                        <div class="col-9 columns">
                                            <div class="col-2 pl-2" v-for="(optionData, option) in metricData.options">
                                                <button :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                        @click="onButton(metricData.short, optionData.value)">
                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                    <span v-else>{{ option }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="show-xl hide-lg">
                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                        <div class="mb-1" v-else>{{metric}}:</div>

                                        <div class="columns">
                                            <div class="col-2 pl-2" v-for="(optionData, option) in metricData.options">
                                                <button :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                        @click="onButton(metricData.short, optionData.value)">
                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                    <span v-else>{{ option }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="show-lg hide-md">
                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                        <div class="mb-1" v-else>{{metric}}:</div>

                                        <div class="columns pl-2">
                                            <div class="col-4 pb-2 pr-2" v-for="(optionData, option) in metricData.options">
                                                <button :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                        @click="onButton(metricData.short, optionData.value)">
                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                    <span v-else>{{ option }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="show-md hide-sm">
                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                        <div class="mb-1" v-else>{{metric}}:</div>

                                        <div class="columns pl-2">
                                            <div class="col-6 pb-2 pr-2" v-for="(optionData, option) in metricData.options">
                                                <button :class="buttonClass(cvssSelected[metricData.short] == optionData.value)" v-if="option"
                                                        @click="onButton(metricData.short, optionData.value)">
                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                    <span v-else>{{ option }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="show-sm">
                                        <div class="mb-1" v-if="metricData.tooltip"><abbr :title="metricData.tooltip">{{ metric }}</abbr>:</div>
                                        <div class="mb-1" v-else>{{metric}}:</div>

                                        <div class="columns pl-2">
                                            <div class="col-12 pb-2 pr-2" v-for="(optionData, option) in metricData.options">
                                                <button :class="buttonClass(cvssSelected[metricData.short] == optionData.value, true)" v-if="option"
                                                        @click="onButton(metricData.short, optionData.value)">
                                                    <abbr v-if="optionData.tooltip" :title="optionData.tooltip">{{ option }}</abbr>
                                                    <span v-else>{{ option }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script src="app.js?v=7"></script>
